<div class="header" style="background-color: #ffc107; padding: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="media">
          <img src="assets/logo.png" class="mr-3" alt="Psychomeet Logo" width="50" height="50">
          <div class="media-body">
            <h5 class="mt-0" style="color: #ffffff;">Psychomeet</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-warning mr-2" (click)="acessarPerfilPaciente()">Meu Perfil - Paciente</button>
        <button class="btn btn-warning mr-2" (click)="acessarPerfilPsicologo()">Meu Perfil - Psicólogo</button>
        <button class="btn btn-danger" (click)="logout()">Sair</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>