<div class="header" style="background-color: #ffc107; padding: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="media">
          <img src="assets/logo.png" class="mr-3" alt="Psychomeet Logo" width="50" height="50">
          <div class="media-body">
            <h5 class="mt-0" style="color: #ffffff;">Psychomeet</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-warning mr-2">Meu Perfil</button>
        <button class="btn btn-danger">Logout</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 p-4" style="background-color: #fff9db; border-radius: 10px;">
  <div class="row">
    <div class="col-md-6">
      <div class="media">
        <img src="assets/user.png" class="mr-3 rounded-circle" alt="User Image" width="100" height="100">
        <div class="media-body">
          <h5 class="mt-0">Nome: João da Silva</h5>
          <p>CRP: 12345</p>
          <p>Especialidade: Psicologia Clínica</p>
          <p>Descrição: Especialista em terapia cognitivo-comportamental.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-center">
        <app-make-consultation></app-make-consultation> 
      </div>
    </div>
  </div>
</div>
