<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Cadastro de Paciente</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="createAccount()">
              <div class="form-group">
                <label for="nome"><i class="fas fa-user"></i> Nome</label>
                <input type="text" class="form-control" id="nome" formControlName="nome" required>
                <div *ngIf="form.controls['nome'].invalid && form.controls['nome'].touched" class="text-danger">
                  Nome é obrigatório.
                </div>
              </div>

              <div class="form-group">
                <label for="telefone"><i class="fas fa-phone"></i> Telefone</label>
                <input type="tel" class="form-control" id="telefone" formControlName="telefone" required>
                <div *ngIf="form.controls['telefone'].invalid && form.controls['telefone'].touched" class="text-danger">
                  Telefone deve ter exatamente 11 dígitos.
                </div>
              </div>

              <div class="form-group">
                <label for="email"><i class="fas fa-envelope"></i> Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" required>
                <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="text-danger">
                  Email inválido.
                </div>
              </div>

              <div class="form-group">
                <label for="cpf"><i class="fas fa-id-card"></i> CPF</label>
                <input type="text" class="form-control" id="cpf" formControlName="cpf" required >
                <div *ngIf="form.controls['cpf'].invalid && form.controls['cpf'].touched" class="text-danger">
                  Digite um cpf valido.
                </div>
              </div>

              <div class="form-group">
                <label for="data"><i class="fas fa-calendar-alt"></i> Data de Nascimento</label>
                <input type="date" class="form-control" id="data" formControlName="data" required>
              </div>

              <div class="form-group">
                <label for="senha"><i class="fas fa-lock"></i> Senha</label>
                <input type="password" class="form-control" id="senha" formControlName="senha" required>
                <div *ngIf="form.controls['senha'].invalid && form.controls['senha'].touched" class="text-danger">
                  Senha deve ter pelo menos 6 caracteres.
                </div>
              </div>

              <div class="form-group">
                <label for="repeatPassword"><i class="fas fa-lock"></i> Confirmar Senha</label>
                <input type="password" class="form-control" id="repeatPassword" formControlName="repeatPassword" required>
                <div *ngIf="!arePasswordsValid() && form.controls['repeatPassword'].touched" class="text-danger">
                  As senhas não coincidem.
                </div>
              </div>

              <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || isSubmitting">Cadastrar</button>
            </form>


            <!-- Mensagem de sucesso -->
            <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
              {{ successMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
