<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="card-title">Consultas Pendentes</h2>
    <button class="btn btn-danger" (click)="vizualizarConsulta()">X</button>
  </div>

  <ul class="list-group mb-3">
      @for (consultation of consultations; track $index){
        <li class="list-group-item">

          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h5 class="card-title">{{consultation.pacienteId}}</h5>
                  <p class="card-text">Data: {{consultation.horaInicio}} às {{consultation.horaFim}}</p>
                  <!-- <p class="card-text">Descrição: {{consultation.descricao}}</p> -->
                </div>
                <div>
                  <button class="btn btn-success me-2" (click)="openMyModal(content, consultation)">
                    <i class="fas fa-check"></i> Aceitar
                           </button>
                  <button class="btn btn-danger me-2" (click)="openMyModal(content2, consultation)">
                    <i class="fas fa-check"></i> Recusar
                           </button>
                </div>
    
    
              </div>
            </div>
          </div>
    
        </li>

      }
    
  </ul>


  <ng-template #content let-modal="modal">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirmação de consulta</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeMyModal()">
        <span aria-hidden="true">&times;</span>  

      </button>
    </div>
    <div class="modal-body">  

      <p>Confirmar agendamento da consulta.</p>
      <button class="btn btn-success" (click)="confirmarConsulta()">CONFIRMAR CONSULTA</button>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="closeMyModal()">Fechar</button>
    </div>  

      
  </ng-template>

 
  <ng-template #content2 let-modal="modal">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirmação de cancelamento</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeMyModal()">
        <span aria-hidden="true">&times;</span>  

      </button>
    </div>
    <div class="modal-body">  

      <p>Recusar agendamento da consulta</p>
      <button class="btn btn-danger" (click)="desmarcarConsulta()">DESMARCAR CONSULTA</button>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="closeMyModal()">Fechar</button>
    </div>  

      
