.container {
  background-color: #fffbea;
  padding: 20px;
}

.text-warning {
  color: #f39c12 !important;
}

.card {
  background-color: #f9e79f;
  border: none;
}

.card-body {
  background-color: #fffbea;
}

.custom-table th, .custom-table td {
  text-align: center;
  vertical-align: middle;
}

.modal.show {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  max-width: 500px;
}

.modal-content {
  background-color: #fffbea;
}
