<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="ml-auto">
            <button class="btn btn-access mr-2" (click)="loginPsicologo()">Área do Psicólogo</button>
            <button class="btn btn-access mr-2" (click)="loginPaciente()">Área do Paciente</button>
        </div>
    </nav>

    

    <!-- Container para a logo e a descrição inicial -->
    <div class="container mt-5 mb-7">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 style="font-family: 'Arial', sans-serif; color: #4A4A4A;">Seja muito bem-vindo!</h1>
                <img src="assets/logo.png" alt="Logo do Projeto" class="img-fluid mt-3" style="max-width: 250px;">

                <section class="therapy-info">
                    <div class="container">
                      <h2>Comece agora seu atendimento psicológico online!</h2>
                      <p>           O autocuidado que você precisa está a um clique de distância. 
                        Coloque hoje mesmo sua saúde mental em primeiro lugar!</p>         
                    </div>
                    
                    <!-- <div class="container container-border">
                      <p>
                        <p>O autocuidado que você precisa está a um clique de distância. 
                            Coloque hoje mesmo sua saúde mental em primeiro lugar!</p>
                    </div> -->
                  </section>

                  <section class="therapy-info">
                    <div class="container">
                      <h2>O PsychoMeet é referência em terapia online!</h2>
                      <p>O PsychoMeet existe para facilitar o acesso de pessoas em situação de vulnerabilidade socioeconômica a psicólogos treinados que estão prontos para cuidar da sua saúde mental.</p>         
                    </div>

                    <div class="container container-border">
                        <p>
                            Com o PsychoMeet, cuidar do seu bem-estar nunca foi tão fácil! 
                            Nosso serviço de saúde mental foi construído para ser o mais simples e direto possível.
                        </p>
                      </div>
                  </section>



<body>


    <section class="therapy-info">
        <div class="container">
          <h2>Como funciona a terapia online?</h2>
          <p>O <strong>PsychoMeet</strong> oferece um meio simples e direto de contatar psicólogos profissionais.</p>

          <p>Procure um <span class="highlight-text">especialista</span> de acordo com <span class="highlight-text">área de atuação</span> e entre em contato imediatamente para <span class="highlight-text">agendar seu atendimento</span>!</p>
        </div>
        
        <div class="container container-border">
          <p>
            <p>Nosso serviço foi pensado para ser acessível a quem mais precisa: <strong>você!</strong></p>
         
         
        </div>
      </section>


                
                <div class="container mt-5">
                    <div class="mt-4 p-4 border rounded" style="background-color: #ffe6b2; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        <h2>Como começar?</h2>
                        <h3>Começando minha terapia online</h3>
                
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="step">
                                    <span class="step-number">01</span>
                                    <i class="fas fa-user fa-3x mb-3"></i>
                                    <p>Procure um psicólogo de acordo com a especialidade</p>
                                </div>
                            </div>
                                
                            <div class="col-md-3 col-sm-6">
                                <div class="step">
                                    <span class="step-number">03</span>
                                    <i class="fas fa-clipboard-list fa-3x mb-3"></i>
                                    <p>Marque a consulta com o psicóogo de sua escolha</p>
                                </div>
                            </div>
                            
                            <div class="col-md-3 col-sm-6">
                                <div class="step">
                                    <span class="step-number">02</span>
                                    <i class="fab fa-whatsapp fa-3x mb-3"></i>
                                    <p>Combine os detalhes da consulta pelo WhatsApp</p>
                                </div>
                            </div>
                
                            <div class="col-md-3 col-sm-6">
                                <div class="step">
                                    <span class="step-number">04</span>
                                    <i class="fas fa-laptop fa-3x mb-3"></i>
                                    <p>Faça a sessão no seu computador ou dispositivo móvel</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


        <section class="therapy-info">
            <div class="container">
              <h2>Por que fazer terapia?</h2>
              <p>
                A qualidade de nossa saúde mental está diretamente ligada à nossa qualidade de vida em geral. 
                Problemas como <span class="highlight">ansiedade, estresse e depressão</span> são extremamente comuns hoje em dia e, 
                para auxiliar com isso, nada melhor do que a ajuda de profissionais.
              </p>
            </div>
            
            <div class="container container-border">
              <p>
                No PsychoMeet você encontra uma grande variedade de psicólogos com as mais diferentes especialidades. 
                O atendimento online permite que você cuide do seu bem-estar sem sair de casa.
              </p>
            </div>
          </section>
          
          
      
       

    <div>




    </div>

  

