<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">

        <div class="ml-auto">
            <button class="btn btn-access mr-2" (click)="loginPsicologo()">Área do Psicólogo</button>
            <button class="btn btn-access mr-2" (click)="loginPaciente()">Área do Paciente</button>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!-- Espaço reservado para a logo -->
                <img src="assets/logo.png" alt="Logo do Projeto" class="img-fluid">
            </div>
            <div class="col-md-6 align-self-center">
                <!-- Descrição do projeto ao lado da logo -->
                <h1>Bem-vindo ao PsychoMeet</h1>
                <p class="description">
                    Esse software tem o intuito de facilitar o acesso a serviços psicológicos, 
                    com o propósito de centralizar e aagilizar a busca por profissionais capacitados, 
                    possibilitando o agendamento de consultas de forma rápida e acessível, e 
                    promovendo a conexão entre psicólogos e pacientes de qualquer lugar do Brasil.
                </p>
            </div>
        </div>
    </div>

</body>