<div class="container mt-4">

    <button type="submit" class="btn btn-primary" (click)="historico()">
        Histórico de consultas
    </button>

    <h2>Buscar Profissionais</h2>



    <form>
        <div class="form-row align-items-center mb-3">
            <div class="col-md-6">
                <label for="inputName" class="sr-only">Nome</label>
                <input type="text" class="form-control" id="inputName" placeholder="Nome do Profissional">
            </div>
            <div class="col-md-4">
                <label for="inputSpecialty" class="sr-only">Especialidade</label>
                <select id="inputSpecialty" class="form-control">
                    <option selected>Escolher Especialidade...</option>
                    <option>Psicologia Clínica</option>
                    <option>Psicoterapia Cognitiva</option>
                    <option>Psicologia Infantil</option>
                    <option>Psicologia Organizacional</option>
                    <option>Psicologia Esportiva</option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i> Buscar
                </button>
            </div>
        </div>
    </form>

    <div>
        <h4>Profissionais Sugeridos:</h4>

        <ul class="list-group mb-3">
            @for (psychologist of psychologists; track $index) {
            <li class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-md-2">
                        <img src="assets/user.png" alt="Foto de João dos Santos" class="img-thumbnail">
                    </div>
                    <div class="col-md-9">
                        <h5 class="card-title mb-1">Psicólogo: {{psychologist.nome}}</h5>
                        <p class="card-text mb-1"><strong>Atuação:</strong> {{psychologist.abordagem}}</p>
                        <p class="card-text mb-0"><strong>Descrição:</strong> {{psychologist.descricao}}</p>
                        <p class="card-text mb-1"><strong>Valor:</strong>{{psychologist.preco}}</p>

                    </div>
                    <div class="col-md-1 text-right">
                        <button class="btn btn-success btn-sm" (click)="marcarConsulta(psychologist.id)">
                            Ver perfil
                        </button>
                    </div>
                </div>
            </li>

            }


        </ul>
    </div>


</div>