<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Cadastro de Psicólogo</h3>
          </div>
          <div class="card-body">
            <form>
              <mat-form-field>
                <mat-label>Nome completo</mat-label>
                <input matInput placeholder="Nome completo" required="" formControlName="nome">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Telefone</mat-label>
                <input matInput placeholder="Telefone" required="" formControlName="telefone">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" required="" formControlName="email">
              </mat-form-field>

              <mat-form-field>
                <mat-label>cpf</mat-label>
                <input matInput placeholder="Cpf" required="" formControlName="cpf">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Data de nascimento</mat-label>
                <input matInput placeholder="Data" required="" formControlName="data">
              </mat-form-field>

              <mat-form-field>
                <mat-label>CRP</mat-label>
                <input matInput placeholder="Crp" required="" formControlName="crp">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Publico</mat-label>
                <input matInput placeholder="Publico" required="" formControlName="publico">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Descrição</mat-label>
                <input matInput placeholder="Descrição" required="" formControlName="descricao">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Abordagem</mat-label>
                <input matInput placeholder="Abordagem" required="" formControlName="abordagem">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Especialidade</mat-label>
                <input matInput placeholder="Especialidade" required="" formControlName="especialidade">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Preço</mat-label>
                <input matInput placeholder="Preço" required="" formControlName="preco">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Senha</mat-label>
                <input matInput placeholder="Senha" required="" formControlName="senha">
              </mat-form-field>

              <div class="form-group">
                <label for="confirmar_senha"><i class="fas fa-lock"></i> Confirmar Senha</label>
                <input type="password" class="form-control" id="confirmar_senha" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block" (click)="createAccount()">Cadastrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>