<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Esqueceu a Senha</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>

  <div class="card">
    <div class="card-header">
      <i class="fas fa-unlock-alt"></i> Esqueceu a Senha
    </div>
    <div class="card-body">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="email"><i class="fas fa-envelope"></i> Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Digite seu email">
        </div>
        <div class="form-group">
          <label for="old-password"><i class="fas fa-key"></i> Senha Antiga</label>
          <input type="password" class="form-control" id="old-password" formControlName="oldPassword" placeholder="Digite sua senha antiga">
        </div>
        <div class="form-group">
          <label for="new-password"><i class="fas fa-key"></i> Nova Senha</label>
          <input type="password" class="form-control" id="new-password" formControlName="newPassword" placeholder="Digite a nova senha">
        </div>
        <div class="form-group">
          <label for="confirm-password"><i class="fas fa-key"></i> Confirmar Senha</label>
          <input type="password" class="form-control" id="confirm-password" formControlName="confirmPassword"
            placeholder="Confirme a nova senha digitada">
        </div>
        <button type="button" class="btn btn-primary" (click)="resetPassword()">Resetar Senha</button>
      </form>
    </div>
  </div>

</body>

</html>
