<div class="container mt-5">
  <div class="p-5">
    <button type="button" class="btn bg-danger" (click)="voltar()">Voltar</button>
  </div>
  
    <div class="row">
  
      <div class="col-md-6">
        <div class="media">
          <img src="assets/user.png" class="mr-3 rounded-circle" alt="User Image" width="100" height="100">
          <div class="media-body">
            <h5 class="mt-0">Nome: {{psychologist.nome}}</h5>
            <p>CRP: {{psychologist.crp}}</p>
            <p>Especialidade: {{psychologist.especialidades}}</p>
            <p>Descrição: {{psychologist.descricao}}</p>
          </div>
        </div>
      </div>
  
      <!-- Calendário de Disponibilidade -->
      <div class="container mt-5">
        <div class="row mb-4 align-items-center">
          <div class="col-auto">
              <button class="btn btn-secondary" (click)="previousWeek()">Semana Anterior</button>
          </div>
  
          <div class="col text-center">
              <h2 class="card-title">Agendar Consulta ({{ startOfWeek | date: 'dd/MM/yyyy' }} - {{ endOfWeek | date: 'dd/MM/yyyy' }})</h2>
          </div>
  
          <div class="col-auto">
              <button class="btn btn-secondary" (click)="nextWeek()">Próxima Semana</button>
          </div>
      </div>
  
      <div class="text-center">
          <table class="table table-bordered table-white custom-table mx-auto">
              <thead>
                  <tr>
                      <th>Hora</th>
                      <th *ngFor="let day of weekDays">{{ getDayWithDate(day) }}</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let time of horarioLista">
                  <td>{{ time.hora }}</td>
                  <td *ngFor="let day of weekDays">
                    <button class="btn calendar-button" (click)="onAvailabilityClick(content, time.hora, day)">
                      <ng-container *ngIf="isConsultaMarcada(day, time.hora)">
                        <i class="fas fa-calendar-alt text-primary"></i> <!-- Calendário azul para consulta marcada -->
                      </ng-container>
                      <ng-container *ngIf="!isConsultaMarcada(day, time.hora)">
                        <i *ngIf="isAvailable(day, time.hora)" class="fas fa-check-circle text-success"></i> <!-- Disponível -->
                        <i *ngIf="!isAvailable(day, time.hora)" class="fas fa-times-circle text-danger"></i> <!-- Não disponível ou dia passado -->
                      </ng-container>
                    </button>
                  </td>
                </tr>
  
              </tbody>
          </table>
  
          <div class="container mt-5">
            <div class="row mb-4 align-items-center">
  
  
                <!-- Coluna central para o título -->
                <div class="col text-center">
                    <h2 class="card-title">Histórico de Consultas</h2>
                </div>
  
  
            </div>
          </div>
  
          <ul class="list-group mb-3">
            <div *ngFor="let consultation of consultations; trackBy: trackById">
            <li *ngIf="hasFeedback(consultation.comentarioPaciente , consultation.notaPaciente)" class="list-group-item" >
                <div  class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="col-md-2">
                            <img src="assets/user.png" alt="Foto de João dos Santos" class="img-thumbnail">
                        </div>
                            <div  class="col-md-9">
                                <h5 class="card-title">{{ pacientesMap[consultation.pacienteId] }}</h5> <!-- Get preloaded name -->
                                <p class="card-text"><strong>Data: </strong>{{ consultation.data }} , {{ consultation.horaIntervalo }}</p>
                                <p class="card-text"><strong>Nota: </strong>{{ consultation.notaPaciente }}</p>
                                <p class="card-text"><strong>Feedback: </strong>{{ consultation.comentarioPaciente }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
          </div>
          </ul>
  
      </div>
    </div>
  
    <!-- Modal para marcar consulta -->
    <ng-template #content let-modal="modal">
      <div class="modal-header">
        <h4 class="modal-title">Marcar Consulta</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeMyModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Marcar consulta com Dr. {{psychologist.nome}} dia {{ diaSelecionada.getDate() }} às {{ horaSelecionada }}.</p>
        <button class="btn btn-success" (click)="marcarConsulta()" >Marcar Consulta</button>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="closeMyModal()">Fechar</button>
      </div>
    </ng-template>
  </div>
  