<div class="container mt-5">
  <div >
    <button type="button" class="btn btn-danger" (click)="voltar()"> Voltar </button>
</div>
  <div class="row mb-4 align-items-center">
      <div class="col-auto">
          <button class="btn btn-secondary" (click)="previousWeek()">Semana Anterior</button>
      </div>

      <div class="col text-center">
          <h2 class="card-title">Informar Disponibilidade ({{ startOfWeek | date: 'dd/MM/yyyy' }} - {{ endOfWeek | date: 'dd/MM/yyyy' }})</h2>
      </div>

      <div class="col-auto">
          <button class="btn btn-secondary" (click)="nextWeek()">Próxima Semana</button>
      </div>
  </div>

  <div class="text-center">
      <table class="table table-bordered table-white custom-table mx-auto">
          <thead>
              <tr>
                  <th>Hora</th>
                  <th *ngFor="let day of weekDays">{{ getDayWithDate(day) }}</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let time of horarioLista">
                  <td>{{ time.hora }}</td>
                  <td *ngFor="let day of weekDays">
                    <button class="btn calendar-button" (click)="onAvailabilityClick(content, time.hora, day)">
                      <ng-container *ngIf="isConsultaMarcada(day, time.hora)">
                        <i class="fas fa-calendar-alt text-primary"></i> <!-- Calendário azul para consulta marcada -->
                      </ng-container>
                      <ng-container *ngIf="!isConsultaMarcada(day, time.hora)">
                        <i *ngIf="isAvailable(day, time.hora)" class="fas fa-check-circle text-success"></i> <!-- Disponível -->
                        <i *ngIf="!isAvailable(day, time.hora)" class="fas fa-times-circle text-danger"></i> <!-- Não disponível -->
                      </ng-container>
                    </button>

                  </td>


              </tr>
          </tbody>
      </table>

  </div>

  <!-- Modal para confirmar disponibilidade -->
  <ng-template #content let-modal="modal">
    <div class="modal-header">
      <h4 class="modal-title">Detalhes da Consulta</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeMyModal()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <p><strong>Data:</strong> {{ consultaSelecionada?.data | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Hora:</strong> {{ consultaSelecionada?.horaIntervalo }}</p>
      <p><strong>Paciente:</strong> {{ pacientesMap[consultaSelecionada? consultaSelecionada.pacienteId :0]  }}</p>
      <button class="btn btn-danger" (click)="cancelarConsulta()">Cancelar Consulta</button>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="closeMyModal()">Voltar</button>
  </div>
  </ng-template>
</div>
