<div class="login-container">
    <h2><i class="fas fa-sign-in-alt"></i> Área do Paciente</h2>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="E-mail" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Senha" required>
            </div>
        </div>
        <button type="submit" class="btn btn-custom btn-block">Entrar</button>
        <div class="mt-4">
            <p>Não possui uma conta? <a href="account/sign-up-patient">Clique aqui</a> para criar agora mesmo!</p>
        </div>
        <div class="mt-4">
            <p>É psicólogo? <a href="account/sign-in-psychologist">Clique aqui</a> para fazer login</p>
        </div>
        <div class="mt-4">
            <p>Deseja voltar para página de Home? <a href="app/home">Clique aqui</a> para voltar agora mesmo</p>
        </div>
    </form>
</div>
