body {
            background-color: #fffacd; /* cor de fundo amarela clara */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .login-container {
            background-color: #ffeb3b; /* cor de fundo do container */
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 600px;
            text-align: center;
        }

        h2 {
            color: #f57c00; /* cor do texto do título */
            margin-bottom: 20px;
        }

        .form-control {
            margin-bottom: 15px;
        }

        .btn-custom {
            background-color: #fbc02d; /* cor do botão */
            color: white;
            border: none;
            border-radius: 5px;
        }

        .btn-custom:hover {
            background-color: #f57c00; /* cor do botão ao passar o mouse */
        }
