<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <button class="btn btn-danger" (click)="marcarConsulta()">X</button>
    <h2 class="text-primary">Histórico de Consultas</h2>
  </div>

  <div *ngFor="let consultation of consultations; let i = index">
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h5 class="card-title">Psicólogo: {{ consultation.nomePsicologo }}</h5>
            <p class="card-text">Data: {{consultation.data}}, {{ consultation.horaInicio }} às {{ consultation.horaFim }}</p>
            <p>Nota: {{consultation.notaPaciente}}</p>
            <p>
              Feedback: {{consultation.comentarioPaciente}}
            </p>

          </div>
          <div>
            <button
              class="btn"
              [ngClass]="consultation.comentarioPaciente ? 'btn-success' : 'btn-warning'"
              (click)="openMyModal(content, consultation)">
              <i [class]="consultation.comentarioPaciente ? 'fas fa-pencil-alt' : 'fas fa-info-circle'"></i>
              {{ consultation.comentarioPaciente ? 'Alterar Feedback' : 'Fornecer Feedback' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal="modal">
  <div class="container mt-4 p-4">
    <h2>Feedback da Consulta</h2>
    <form (ngSubmit)="submitFeedback()">
      <div class="form-group">
        <label for="feedback">Avaliação:</label>
        <textarea [(ngModel)]="feedback" class="form-control" id="feedback" name="feedback" rows="4" required></textarea>
      </div>
      <div class="rating-container mb-3">
        <label for="rating">Nota:</label>
        <input [(ngModel)]="rating" type="number" id="rating" class="rating-input" name="rating" min="0" max="10" required>
      </div>
      <button type="submit" class="btn btn-primary mt-3">
        Enviar Feedback <i class="fas fa-paper-plane"></i>
      </button>
    </form>
  </div>
</ng-template>
