<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <button class="btn btn-danger" (click)="marcarConsulta()">X</button>
        <h2 class="text-primary">Histórico de Consultas</h2>
        <button class="btn btn-danger" (click)="consultasMarcadas()">Consultas marcadas</button>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">Psicólogo: João Silva</h5>
                    <p class="card-text">Data: 20/06/2024 às 16:00</p>
                    <p class="card-text">Descrição: Consulta de rotina</p>
                </div>
                <div>
                    <button class= "btn btn-primary"(click)= "openMyModal(content)">
                        <i class="fas fa-info-circle"></i> Fornecer feedback
                      </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">Psicólogo: Maria Oliveira</h5>
                    <p class="card-text">Data: 18/06/2024 às 14:30</p>
                    <p class="card-text">Descrição: Sessão de terapia</p>
                </div>
                <div>
                    <button class= "btn btn-primary"(click)= "openMyModal(content)">
                        <i class="fas fa-info-circle"></i> Fornecer feedback
                      </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">Psicólogo: Carlos Souza</h5>
                    <p class="card-text">Data: 15/06/2024 às 10:00</p>
                    <p class="card-text">Descrição: Consulta de acompanhamento</p>
                </div>
                <div>
                    <button class= "btn btn-primary"(click)= "openMyModal(content)">
                        <i class="fas fa-info-circle"></i> Fornecer feedback
                      </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">Psicólogo: Ana Pereira</h5>
                    <p class="card-text">Data: 13/06/2024 às 11:00</p>
                    <p class="card-text">Descrição: Consulta inicial</p>
                </div>
                <div>
                    <button class= "btn btn-primary"(click)= "openMyModal(content)">
                        <i class="fas fa-info-circle"></i> Fornecer feedback
                      </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">Psicólogo: Pedro Lima</h5>
                    <p class="card-text">Data: 10/06/2024 às 09:00</p>
                    <p class="card-text">Descrição: Sessão de terapia</p>
                </div>
                <div>
                    <button class= "btn btn-primary"(click)= "openMyModal(content)">
                        <i class="fas fa-info-circle"></i> Fornecer feedback
                      </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">Psicólogo: Lucas Fernandes</h5>
                    <p class="card-text">Data: 08/06/2024 às 15:00</p>
                    <p class="card-text">Descrição: Consulta de rotina</p>
                </div>
                <div>
                    <button class= "btn btn-primary"(click)= "openMyModal(content)">
                        <i class="fas fa-info-circle"></i> Fornecer feedback
                      </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">Psicólogo: Mariana Santos</h5>
                    <p class="card-text">Data: 05/06/2024 às 13:00</p>
                    <p class="card-text">Descrição: Consulta de acompanhamento</p>
                </div>
                <div>
                    <button class= "btn btn-primary"(click)= "openMyModal(content)">
                        <i class="fas fa-info-circle"></i> Fornecer feedback
                      </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">Psicólogo: Gabriel Costa</h5>
                    <p class="card-text">Data: 02/06/2024 às 11:00</p>
                    <p class="card-text">Descrição: Sessão de terapia</p>
                </div>
                <div>
                    <button class= "btn btn-primary"(click)= "openMyModal(content)">
                        <i class="fas fa-info-circle"></i> Fornecer feedback
                      </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">Psicólogo: Renata Alves</h5>
                    <p class="card-text">Data: 30/05/2024 às 16:30</p>
                    <p class="card-text">Descrição: Consulta inicial</p>
                </div>
                <div>
                    <button class= "btn btn-primary"(click)= "openMyModal(content)">
                        <i class="fas fa-info-circle"></i> Fornecer feedback
                      </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">Psicólogo: Felipe Duarte</h5>
                    <p class="card-text">Data: 28/05/2024 às 10:00</p>
                    <p class="card-text">Descrição: Consulta de rotina</p>
                </div>
                <div>
                    <button class= "btn btn-primary"(click)= "openMyModal(content)">
                        <i class="fas fa-info-circle"></i> Fornecer feedback
                      </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal="modal">
    <div class="container mt-4 p-4">
        <h2>Feedback da Consulta</h2>
        <form>
            <div class="form-group">
                <label for="rating">Avaliação:</label>
                <textarea class="form-control" name="feedback" rows="4" required></textarea>
            </div>
            <div class="rating-input-container mb-3">
                <label for="rating-input">Nota:</label>
                <input type="number" id="rating-input" class="rating-input" min="0" max="10" value="0">
            </div>
            <button type="submit" class="btn btn-primary mt-3" (click)="voltar()">
                Enviar Feedback <i class="fas fa-paper-plane"></i>
            </button>
        </form>
    </div>
</ng-template>

