<div class="container mt-5">
    <div class="row mb-4 align-items-center">
        <!-- Coluna esquerda para os botões -->
        <div class="col-auto">
            <div class="d-flex flex-column">
                <button class="btn btn-secondary mb-2" (click)="agenda()">Agenda</button>
                <button class="btn btn-danger" (click)="consultasPendentes()">Consultas pendentes</button>
            </div>
        </div>

        <!-- Coluna central para o título -->
        <div class="col text-center">
            <h2 class="card-title">Histórico de Consultas</h2>
        </div>

        <!-- Coluna direita para o botão de perfil -->
        <div class="col-auto">
            <button class="btn btn-warning" (click)="acessarPerfilPsicologo()">Meu Perfil</button>
        </div>
    </div>
</div>

    <ul class="list-group mb-3">
        @for (user of users; track $index) {
            @for (consultation of consultations; track $index) {
                <li class="list-group-item">

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="card-title">{{user.nome}}</h5>
                                    <p class="card-text">Data: {{consultation.diaDaSemana}} às {{consultation.hora}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </li>
            }


        }


    </ul>


<div>


   