<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <button class="btn btn-secondary" (click)="agenda()">Agenda</button>
        <h2 class="card-title">Histórico de Consultas</h2>
        <button class="btn btn-danger" (click)="consultasPendentes()">Consultas pendentes</button>
    </div>





    <ul class="list-group mb-3">
        @for (user of users; track $index) {
            @for (consultation of consultations; track $index) {
                <li class="list-group-item">

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="card-title">{{user.nome}}</h5>
                                    <p class="card-text">Data: {{consultation.diaDaSemana}} às {{consultation.hora}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </li>
            }


        }


    </ul>


   